@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

.stock-symbol {
  text-align: center;
}

.mover-container {
  width: 400px;
  height: auto;
  position: relative;
  justify-content: center;
}

.portfolio-banner {
  align-content: center;
  margin-left: 33%;
}

.stock-symbol-portfolio {
  width: 250px;
  height: 150px;
  display: inline-flex;
}

/* .stock-symbol-portfolio {
  font-family: Nunito, sans-serif;
  font-size: xx-large;
  font-weight: 800;
  margin-top: 23%;
  display: flex;
  justify-content: center;
} */

.green-arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.overlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  z-index: 3;
}

.overlay > div {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  border: 2px solid black;
}

.companyName {
  border-radius: 25px;
  font-family: Nunito, sans-serif;
  font-size: x-large;
  font-weight: 900;
  margin: 20px;
  border: 2px solid black;
}

.mover-container:hover .overlay {
  position: absolute;
  border-radius: 25px;
  opacity: 1;
  width: 300px;
  margin-top: -78px;
  text-align: center;
 
}

.sub-overlay-container {
  border-radius: 25px;
}

.latestPrice {
  font-family: Nunito, sans-serif;
  font-size: x-large;
}

.price-change {
  margin-left: 0px;
}

.details-wrapper {
  background-color: black;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 7px;
}

.details-wrapper div {
  background-color: rgba(175, 255, 235, 1);
  height: 100px;
  font-family: Nunito, sans-serif;
  font-size: large; 
  margin-top: 5px;
}

.details-label {
  font-weight: 800 !important;
  font-size: large;
}