@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

.stock-symbol {
  text-align: center;
}

.mover-container {
  width: 350px;
  height: auto;
  position: relative;
  /* margin-left: 50px; */
  /* justify-content: center; */
}

.portfolio-banner {
  display: flex;
  justify-content: center;
  /* margin-left: 33%; */
}

#portfolio-form {
  margin-bottom: 50px;
  margin-left: 20px;
}

.stock-symbol-portfolio {
  width: 250px;
  height: 150px;
  display: inline-flex;
  /* margin-left: 25px; */
  /* margin-right: 180px; */
}

.portfolio__label--price {
  position: relative;
  top: -17px;
  left: -250px;
  font-family: Nunito, sans-serif;
  width: fit-content;
  margin: 25px;
  font-size: 14px;
}

.portfolio__label--shares {
  font-family: Nunito, sans-serif;
  font-size: 14px;
  position: relative;
  top: 0px;
  left: -150px;
}

.portfolio__label--mktValue {
  position: relative;
  top: 25px;
  left: -115px;
  /* width: 150px;
  height: 50px; */
  /* margin: 25px; */
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
