@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

.main-page-container {
  margin-left: 11%;
  display: flex;
  position: relative;
}

.graphName {
  margin-left: 130px;
  color: white;
  font-family: Nunito, sans-serif;
}

.stockChart {
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  width: 65%;
  height: 10%;
  margin-top: -800px;
  z-index: 2;
}

.watchlist-container {
  display: flex;
  border-radius: 25px;
  margin-left: 70%;
  margin-right: 5%;
  margin-top: 15%;
  color: black;
  background-color: white;
}