@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

.main-page-container {
  margin-top: 7%;
  margin-left: 2%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
}

.graphName {
  margin-left: 130px;
  color: white;
  font-family: Nunito, sans-serif;
}

.stockChart {
  display: grid;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  grid-column-start: 1;
}

.news-page-container {
  dispaly: grid;
  background-color: black;
  width: 100%;
}

.watchlist-container {
  position: sticky;
  top: -90%;
  grid-column-start: 2;
  border-radius: 25px;
  height: 30%;
  color: black;
  background-color: white;
  margin-right: 10px;
}