@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

/* body {
  background-image: none;
  background-color: black;
} */

.main-page-container {
  margin-top: 7%;
  margin-left: 2%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
}

.search-div {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.15);
  font-family: Nunito, sans-serif;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  animation-name: rainbow-main;
  animation-delay: 5s;
  animation-duration: 90s;
  animation-iteration-count: infinite;
}

#search-field {
  background: black;
  border-radius: 25px;
  font-family: Nunito, sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
}

.search-button {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  border-radius: 25px;
  /* background: rgba(255,150,150,0.5); */
}



#portfolio-form {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  color: white;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  border: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  animation-name: rainbow-main;
  animation-delay: 35s;
  animation-duration: 120s;
  animation-iteration-count: infinite;
}

#shares-field {
  background: black;
  border-radius: 25px;
  width: 55%;
  color: white;
  font-family: Nunito, sans-serif;
  font-weight: 800;
  text-align: center;
}

.add-portfolio {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  border-radius: 25px;
  /* background: rgba(255,150,150,0.5); */
}

.graphName {
  margin-left: 130px;
  color: white;
  font-family: Nunito, sans-serif;
}

.stockChart {
  display: flexbox;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  grid-column-start: 1;
}

#chart {
  width: 100%;
}

.news-page-container {
  dispaly: grid;
  background-color: black;
  width: 100%;
}

.watchlist-container {
  position: sticky;
  top: -90%;
  grid-column-start: 2;
  border-radius: 25px;
  height: 30%;
  color: black;
  background-color: white;
  margin-right: 10px;
}

@keyframes rainbow-main {
  0%   {
        box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, .3);
        /* background-color: rgba(255, 0, 0, 1); */
      }
  10%  {
        box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, .3); 
        /* background-color: rgba(255,165,0,1); */
      }
  20%  {
        box-shadow: 0px 0px 20px 0px rgba(255,255,0, .3); 
        /* background-color: rgba(255,255,0,1); */
      }
  30%  {
        box-shadow: 0px 0px 15px 0px rgba(0, 255, 0, .3); 
        /* background-color: rgba(0, 255, 0, 1); */
        }
  40%  {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 255, .3); 
        /* background-color: rgba(0, 0, 255, 1); */
      }
  50%  {
        box-shadow: 0px 0px 15px 0px rgba(238,130,238, .3); 
        /* background-color: rgba(238,130,238, 1); */
      }
  60%  {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 255, .3); 
        /* background-color: rgba(0, 0, 255, 1); */
      }
  70%  {
        box-shadow: 0px 0px 15px 0px rgba(0, 255, 0, .3); 
        /* background-color: rgba(0, 255, 0, 1); */
      }
  80%  {
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 0, .3); 
        /* background-color: rgba(255,255,0,1); */
      }
  90%  {
        box-shadow: 0px 0px 15px 0px rgba(255, 165, 0, .3); 
        /* background-color: rgba(255,165,0,1); */
      }
 100%  {
        box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, .3); 
        /* background-color: rgba(255, 0, 0, 1); */
      }
}