@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

.form-wrapper {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: transition(-50%, -50%);
  width: 400px;
  height: 375px;
  padding: 40px;
  background-color: rgba(10,10,10,0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0, 0.5);
  border-radius: 10px;
}

.login__errors {
  color: white;
}

.form-login {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 400px;
  /* height: 100px; */
  /* text-align: center; */
}

.form-login h2 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-left: 30%;
  margin-bottom: 50px;
}

.input-wrapper {
  position: relative;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

/* .login-form__label--name {
  color: white;
  font-family: Nunito, sans-serif;
} */

.login-form__input--name,
.login-form__input--password {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  margin-bottom: 30px;
}

/* .login-form__input label {
  position: absolute;
  top: -6px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
} */

.login-form__label--name {
  font-family: Nunito, sans-serif;
  position: absolute;
  top: -6px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.login-form__label--password {
  font-family: Nunito, sans-serif;
  position: absolute;
  top: 45px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.login-form__input--name:focus ~ .login-form__label--name,
.login-form__input--name:valid ~ .login-form__label--name {
  top: -30px;
  color: rgba(0, 128, 0, 0.8);
  font-size: 12px;
}

.login-form__input--password:focus ~ .login-form__label--password,
.login-form__input--password:valid ~ .login-form__label--password {
  color: rgba(0, 128, 0, 0.8);
  font-size: 12px;
  top: 21px;
}

.login-form__button {
  /* display: flex; */
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: 600;
  width: 88px;
  height: 38px;
  margin-top: 50px;
  margin-left: 30%;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: rgba(0, 128, 0, 0.5);
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
}

/* .input:-internal-autofill-selected {
  background-color: black;
} */
