@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

.form-signup__wrapper {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: transition(-50%, -50%);
  width: 400px;
  height: 375px;
  padding: 40px;
  background-color: rgba(10,10,10,0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0, 0.5);
  border-radius: 10px;
}

.input-wrapper {
  position: relative;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}


.form-signup__wrapper h2 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-left: 30%;
  margin-bottom: 50px;
}

.signup-fields {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  margin-bottom: 30px;
}

.signup-fields--email {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  /* margin-bottom: 20px; */
}

.signup-label--email {
  font-family: Nunito, sans-serif;
  position: relative;
  top: -20px;
  left: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-fields--username {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  /* margin-bottom: 30px; */
}


.signup-label--username {
  font-family: Nunito, sans-serif;
  position: relative;
  top: -20px;
  left: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-fields--password {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  margin-bottom: 0px;
}

.signup-label--password {
  font-family: Nunito, sans-serif;
  position: relative;
  top: -20px;
  left: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-fields--confirm {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  /* margin-bottom: 30px; */
}

.signup-label--confirm {
  font-family: Nunito, sans-serif;
  position: relative;
  /* width: 400px; */
  top: -69px;
  left: 10px;
  /* margin-right: 20px; */
  /* padding: 10px 0; */
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-button {
  width: 120px;
  height: 50px;
  /* padding: 15px; */
  margin-top: 30px;
  /* border-radius: 30px; */
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
  box-shadow: 4px 4px #18580b;
}

input:focus {
  background-color: black;
  color: white;
  outline: none;
}

/* input:-internal-autofill-selected {
  background-color: black;
  color: white;
  outline: none;
} */
