@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');
}

.form-signup__wrapper {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: transition(-50%, -50%);
  width: 400px;
  height: 375px;
  padding: 40px;
  background-color: rgba(10,10,10,0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0, 0.5);
  border-radius: 10px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}


.form-signup__wrapper h2 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-left: 30%;
  margin-bottom: 50px;
}

.signup-fields {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  margin-bottom: 30px;
}

.signup-fields--email {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  /* margin-bottom: 20px; */
}

.signup-label--email {
  font-family: Nunito, sans-serif;
  position: relative;
  top: -20px;
  left: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-fields--email:hover ~ .signup-label--email,
.signup-fields--email:valid ~ .signup-label--email {
  top: -40px;
  color: rgba(0, 128, 0, 0.8);
  font-size: 12px;
}

.signup-fields--username {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  /* margin-bottom: 30px; */
}


.signup-label--username {
  font-family: Nunito, sans-serif;
  position: relative;
  top: -20px;
  left: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-fields--username:hover ~ .signup-label--username,
.signup-fields--username:valid ~ .signup-label--username {
  top: -40px;
  color: rgba(0, 128, 0, 0.8);
  font-size: 12px;
}

.signup-fields--password {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  margin-bottom: 0px;
}

.signup-label--password {
  font-family: Nunito, sans-serif;
  position: relative;
  top: -20px;
  left: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-fields--password:hover ~ .signup-label--password,
.signup-fields--password:valid ~ .signup-label--password {
  top: -40px;
  color: rgba(0, 128, 0, 0.8);
  font-size: 12px;
}

.signup-fields--confirm {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  /* margin-bottom: 30px; */
}

.signup-label--confirm {
  font-family: Nunito, sans-serif;
  position: relative;
  width: 400px;
  top: -20px;
  left: 10px;
  /* margin-right: 20px; */
  /* padding: 10px 0; */
  font-size: 16px;
  color: #fff;
  pointer-events:none;
  transition: 0.5s;
}

.signup-fields--confirm:hover ~ .signup-label--confirm,
.signup-fields--confirm:valid ~ .signup-label--confirm {
  top: -40px;
  color: rgba(0, 128, 0, 0.8);
  font-size: 12px;

}

.signup-button {
    font-family: Nunito, sans-serif;
    font-size: large;
    font-weight: 600;
    width: 88px;
    height: 38px;
    margin-top: 30px;
    margin-left: 30%;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
    box-shadow: none;
    border: none;
    outline: none;
}

input:focus {
  background-color: black;
  color: white;
  outline: none;
}

/* input:-internal-autofill-selected {
  background-color: black;
  color: white;
  outline: none;
} */
